
 <!-- admin.component.html -->
<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar" [class.active]="isSidebarVisible">
    <div class="sidebar-header">
      <img src="assets/logo.png" alt="">
    </div>
    <ul class="sidebar-tabs">
      <li routerLink="/user/home" [class.active]="activeTab === 'home'" (click)="setActiveTab('home')">
        <i class="fas fa-home"></i> Home
      </li>
      <li routerLink="/user/messages" [class.active]="activeTab === 'messages'" (click)="setActiveTab('messages')">
        <i class="fas fa-comments"></i> Messages
      </li>
      
      <li routerLink="/user/connections" [class.active]="activeTab === 'connections'" (click)="setActiveTab('connections')">
        <i class="fas fa-link"></i> Connections
      </li>
      <li routerLink="/user/attachment" [class.active]="activeTab === 'internships'" (click)="setActiveTab('internships')">
        <i class="fas fa-file-alt"></i> Attachments
      </li>
      <li routerLink="/user/resources" [class.active]="activeTab === 'resources'" (click)="setActiveTab('resources')">
        <i class="fas fa-book"></i> Resources
      </li>
      <li routerLink="/user/mynetwork" [class.active]="activeTab === 'mynetwork'" (click)="setActiveTab('mynetwork')">
        <i class="fas fa-chart-line"></i> My Network
      </li>
      <li (click)="onLogout()">
        <i class="fas fa-sign-out-alt"></i> Logout
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content" [class.dark-mode]="isDarkMode" (click)="hideSidebarOnOutsideClick()">
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar-left d-flex flex-column align-items-start">
        <div class="menu-icon" (click)="toggleSidebar($event)">
          <i class="fas fa-bars"></i>
        </div>
        <div class="welcome">
          <h2>Welcome {{firstName}}</h2>
        </div>
      </div>
      <div class="navbar-right">
        <div class="profile d-flex flex-column" (click)="toggleProfileDropdown()">
          <div class="profile-image-container">
            <img [src]="profileImage" 
                 alt="User Profile" 
                 (error)="handleImageError($event)"
                 class="profile-image">
          </div>
          <span>{{ userName }}</span>
          <div class="dropdown" [class.show]="isProfileDropdownVisible">
            <a routerLink="/user/profile">My profile</a>
            <a href="#">Help</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- Content Area -->
    <div class="content-area">
      <router-outlet/>
    </div>
  </div>
</div>
